*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #783D19;
    display: flex;
    align-items: center;
    height: 15vh;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #fafae0;
}
.icon{
    width: 4vw;

}

main{
    height: 127vh;
    background-color: #f9ebc7;
    flex-direction: column;
    display: flex;
    

}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #633013;
    font-size: 48px;
    display: flex;
    justify-content: center;
    
}
.caixaPao{
    display: flex;
    justify-content: center;
    
}
.pao{
    width: 37vw;
    border-radius: 5%;
}
.ingredientes{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #633013;
}
ul{
    display: flex;
    margin-top: 30px;
    margin-left: 620px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.modoPreparo{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #633013;
}
ol{
    display: flex;
    margin-top: 30px;
    margin-left: 620px;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}